import React from 'react';

type {{component}}Props = {
  title?: string;
};

const {{component}} = ({ title = 'Hello world' }: {{component}}Props) => {
  return (
    <div>{title}</div>
  );
};

export default {{component}};
