@import '@radix-ui/themes/styles.css';

.dark, .dark-theme {
  --green-1: #0e1210;
  --green-2: #141916;
  --green-3: #1d2922;
  --green-4: #22372b;
  --green-5: #2c4436;
  --green-6: #385242;
  --green-7: #456351;
  --green-8: #537862;
  --green-9: #92cba9;
  --green-10: #88c09f;
  --green-11: #92cba9;
  --green-12: #d3efdd;

  --green-a1: #00910002;
  --green-a2: #67f49f09;
  --green-a3: #87fdb81a;
  --green-a4: #7bfeb329;
  --green-a5: #8ffebd37;
  --green-a6: #a0fec446;
  --green-a7: #a8ffcb58;
  --green-a8: #a8fdcb6f;
  --green-a9: #b5fed3c8;
  --green-a10: #b3ffd2bc;
  --green-a11: #b5fed3c8;
  --green-a12: #e1ffecee;

  --green-contrast: #0f271a;
  --green-surface: #17211b80;
  --green-indicator: #92cba9;
  --green-track: #92cba9;
}



.light, .light-theme {
  --green-1: #fbfefc;
  --green-2: #f4fbf6;
  --green-3: #e4f7eb;
  --green-4: #d4f2de;
  --green-5: #c0ead0;
  --green-6: #a8dfbd;
  --green-7: #87d0a5;
  --green-8: #51bb83;
  --green-9: #1ea769;
  --green-10: #009a5e;
  --green-11: #008348;
  --green-12: #193c29;

  --green-a1: #00c04004;
  --green-a2: #00a32f0b;
  --green-a3: #00b4431b;
  --green-a4: #01b23c2b;
  --green-a5: #00aa413f;
  --green-a6: #00a23e57;
  --green-a7: #009c4078;
  --green-a8: #009c4aae;
  --green-a9: #009b55e1;
  --green-a10: #009a5e;
  --green-a11: #008348;
  --green-a12: #002712e6;

  --green-contrast: #fff;
  --green-surface: #f1faf4cc;
  --green-indicator: #1ea769;
  --green-track: #1ea769;
}


